<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verdure">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:label="Verdure"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Verdure">

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Dashboard -->
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- Add/Edit screen -->
        <activity android:name=".AddEditActivity" android:exported="false" />

        <!-- Register & Forgot Password -->
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />

        <!-- Plant Detail page (new one we added) -->
        <activity android:name=".PlantDetailActivity" android:exported="false" />

        <!-- Reminder notification receiver -->
        <receiver android:name=".ReminderReceiver" android:exported="false" />

        <activity android:name=".ImagePredictionActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PlantCareGuideActivity" android:exported="false" />
        <activity android:name=".GuideDetailActivity" android:exported="false" />
        <activity android:name=".NotificationActivity" android:exported="false" />
        <activity android:name=".ReminderActivity" android:exported="false" />
        <receiver android:name=".ReminderReceiver" android:exported="false" />
    </application>
</manifest>
